.cache
.local
.ssh
backups

.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.wget-hsts

server/doorstop_libs
server/linux64
server/logs
server/steamapps
server/unstripped_corlib
server/valheim_server_Data

server/LinuxPlayer_s.debug
server/UnityPlayer.so
server/UnityPlayer_s.debug
server/doorstop_config.ini
server/steamclient.so
server/valheim_server.x86_64
server/winhttp.dll

server/BepInEx/cache

server/BepInEx/LogOutput.log

server/docker/steamclient.so
